<table class="table table-bordered table-striped ">
    <caption>
        <h4>HCI-Survey details </h4>
    </caption>
    <thead>
        <tr>
            <th>Survey Type</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            <td>recording sensor</td>
            <td>good good good </td>
        </tr>
        <tr class="danger">
            <td>geofence</td>
            <td>good good good</td>
        </tr>
        <tr class="warning">
            <td>health </td>
            <td>good good good</td>
        </tr>
        <tr class="active">
            <td>position</td>
            <td>good good good</td>
        </tr>
        <tr class="success">
            <td>speed</td>
            <td>good good good</td>
        </tr>
        <tr class="danger">
            <td>hello world</td>
            <td>bad bad bad </td>
        </tr>
    </tbody>
</table>
